@charset "utf-8";
@use 'variables' as *;
@use 'mixins' as *;
/* 여백 초기화 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* a 링크 초기화 */
a {
    color: #515151;
    text-decoration: none;
}

html,
body {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    cursor: default;
}

a,
button,
iframe,
label {
    cursor: pointer;
}


/* React root */
#root {
    width: 100%;
    height: 100%;
}

/* 폰트 초기화 */
html {
    font-size: 16px;
    @include mobile-medium {
        font-size: 14px;
    }
}

body,
input,
textarea,
select,
button,
table {
    // 한글: SpoqaHanSansNeo, 영어: lores-9-narrow
    font-family: $font-family-base;
    font-weight: 400;
    font-style: normal;
    color: #515151;
    line-height: 1.2;
}

/* 폰트 스타일 초기화 */
em,
address {
    font-style: normal;
}

// SpoqaHanSansNeo 폰트 (한글 전용)
@font-face {
    font-family: "SpoqaHanSansNeo";
    src: url("../fonts/SpoqaHanSansNeo-Thin.woff2") format("woff2"),
        url("../fonts/SpoqaHanSansNeo-Thin.woff") format("woff"),
        url("../fonts/SpoqaHanSansNeo-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SpoqaHanSansNeo";
    src: url("../fonts/SpoqaHanSansNeo-Light.woff2") format("woff2"),
        url("../fonts/SpoqaHanSansNeo-Light.woff") format("woff"),
        url("../fonts/SpoqaHanSansNeo-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    unicode-range: U+AC00-D7AF, U+1100-11FF, U+3130-318F, U+A960-A97F, U+D7B0-D7FF; // 한글 범위
}

@font-face {
    font-family: "SpoqaHanSansNeo";
    src: url("../fonts/SpoqaHanSansNeo-Regular.woff2") format("woff2"),
        url("../fonts/SpoqaHanSansNeo-Regular.woff") format("woff"),
        url("../fonts/SpoqaHanSansNeo-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SpoqaHanSansNeo";
    src: url("../fonts/SpoqaHanSansNeo-Medium.woff2") format("woff2"),
        url("../fonts/SpoqaHanSansNeo-Medium.woff") format("woff"),
        url("../fonts/SpoqaHanSansNeo-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SpoqaHanSansNeo";
    src: url("../fonts/SpoqaHanSansNeo-Bold.woff2") format("woff2"),
        url("../fonts/SpoqaHanSansNeo-Bold.woff") format("woff"),
        url("../fonts/SpoqaHanSansNeo-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* 블릿기호 초기화 */
ul,
li,
ol {
    list-style: none;
}

/* 제목 태그 초기화 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 13px;
    margin: 0;
    padding: 0;
    font-weight: 900;
    line-height: 1;
    font-family: $font-family-base
}

/* 테두리 초기화 */
img,
fieldset {
    border: 0 none;
}

/* 버튼 초기화 */
button {
    border: 0;
    outline: none;
}

input {
    outline: none;
}

video,
img {
    width: 100%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}