@charset "utf-8";

// ========================================
// Import
// ========================================
@use 'variables' as *;
@use 'mixins' as *;

%nav-inner {
    display: flex;
    width: calc(100% - 100px);
    max-width: 1300px;
    box-sizing: border-box;
    justify-content: space-between;
    text-transform: uppercase;
}

%nav-link-base {
    @extend %font-en;
    display: inline-block;
    font-size: fluid(toRem(25), toRem(30));
    font-weight: 700;
    color: $color-magenta;
}

%nav-link-odd {
    font-size: toRem(20);
    font-weight: 300;
}

@mixin nav-wave-hover($img: $wave-svg-blue, $size: auto 8px, $pos: bottom, $repeat: repeat-x) {
    @include bg-image($img, $size, $pos, $repeat);
}


// ========================================
// Layout
// ========================================
.container {
    width: calc(100% - #{$container-side-padding});
    max-width: $container-max-width;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 7vw;
}


// ========================================
// Base Styles
// ========================================


%font-en {
    font-family: $font-family-en;
}

.title {
    &--xl {
    }
    &--email {
        position: relative;
        a {
            display: block;
            position: relative;
            font-size: fluid(toRem(60), toRem(100));
            width: 100%;
            text-align: center;
            $z-default: 10;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: $color-magenta;
            -webkit-text-fill-color: rgba(0, 0, 0, 0);
            word-break: break-all;

            &:focus-visible {
                outline: 2px solid $color-magenta;
                outline-offset: 4px;
            }
        }
    }

    &--about {
        display: block;
        width: 100%;
        font-size: fluid(toRem(100), toRem(150));
        text-align: right;
    }

    &--marquee {
        width: 100%;
        height: 100px;
        position: relative;
        font-size: 0;
        text-align: center;
        white-space: nowrap;
        margin-bottom: 0;
        margin-top: fluid(toRem(-50), toRem(-100));
    
        p {
            display: inline-block;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: #fb00db;
            color: #fb00db;
            -webkit-text-fill-color: rgba(0, 0, 0, 0);
            padding-left: 50px;
            font-size: fluid(toRem(100), toRem(150));
            font-weight: 700;
            line-height: 1;
        }
    }
}

.text {
    &--sm {}

    &--about {
        font-size: fluid(toRem(20), toRem(25));
        font-weight: 400;
        line-height: 2;
        word-break: keep-all;
        > span{
            display: block;
        }
        &-inner {
            p {
                &+p {
                    margin-top: fluid(toRem(10), toRem(15));
                }
            }
        }
    }
}

.split {
    opacity: 0;
    will-change: transform;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    * {
        will-change: transform;
        opacity: 1;
        visibility: inherit;
        transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
        transform: translate3d(0px, 0px, 0px);
        overflow: hidden;
    }
}

.swiper-slide{ 
    aspect-ratio: 16 / 9;  
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain; 
        object-position: center;
        display: block;
    }
}
.swiper-button-prev,
.swiper-button-next{
    font-family: $font-family-en;
}

.btn-more-about {
    display: inline-flex;
    align-items: center;
    gap: 0 5px;
    margin-top: fluid(toRem(18), toRem(25));
    font-size: fluid(toRem(20), toRem(25));
    font-weight: 500;
    color: $color-gray-light;
    transition: all 100ms ease-in-out;
    transform-origin: center center;

    &:hover,
    &:focus-visible {
        transform: scale(1.05);
        transform-origin: center center;
        transition: all 100ms ease-in-out;

        span {
            display: inline-flex;
            color: $color-magenta;
            animation: vibratePulse 1.2s ease-in-out infinite;
            will-change: transform;

        }
    }
}

@keyframes vibratePulse {

    0%,
    72%,
    100% {
        transform: translateX(0);
    }

    74% {
        transform: translateX(-2px);
    }

    76% {
        transform: translateX(2px);
    }

    78% {
        transform: translateX(-3px);
    }

    80% {
        transform: translateX(3px);
    }

    82% {
        transform: translateX(-2px);
    }

    84% {
        transform: translateX(2px);
    }

    86% {
        transform: translateX(-1px);
    }

    88% {
        transform: translateX(1px);
    }

    90% {
        transform: translateX(0);
    }
}

.scroll-nav-wrap {
    width: 100%;
    display: inline-flex;
    position: fixed;
    top: 0;
    height: 70px;
    justify-content: center;
    flex-direction: row;
    background-color: transparent;
    box-sizing: border-box;
    text-align: center;
    white-space: nowrap;
    z-index: $z-header;

    @include bg-image($wave-bg-nav, auto, left bottom, repeat-x);
    animation: shift-alt 30s linear infinite;

    .scroll-nav-inner {
        @extend %nav-inner;
        align-items: center;

        a {
            @extend %nav-link-base;

            &:nth-child(odd) {
                @extend %nav-link-odd;
            }

            &:hover {
                @include nav-wave-hover($wave-svg-blue, auto 8px, bottom, repeat-x);
            }

            &:nth-child(2n):hover {
                -webkit-text-stroke-width: 1.2px;
                -webkit-text-stroke-color: $color-magenta;
                -webkit-text-fill-color: rgba(0, 0, 0, 0);
            }
        }

        @include mobile-small {
            width: auto;
        }
    }

    @include mobile-small {
        a {
            width: 100%;

            &:nth-child(odd) {
                display: none;
            }
        }
    }
}

.navi {
    position: relative;
    box-sizing: border-box;
    display: flex;
    padding-top: 20px;
    margin: 0 auto;
    align-items: baseline;
    z-index: $z-header;

    @extend %nav-inner;

    a {
        @extend %nav-link-base;

        &:hover {
            @include nav-wave-hover($wave-svg-blue, auto 8px, bottom, repeat-x);
        }

        &:nth-child(odd) {
            @extend %nav-link-odd;
            transition: all 0.5s;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    @include mobile-small {
        justify-content: center;

        a {
            &:nth-child(odd) {
                display: none;
            }
        }
    }
}


// ========================================
// Loading
// ========================================
.loading {
    @include fixed-fullscreen;
    background-color: $bg-primary;
    z-index: $z-loading;
}

@keyframes slideEmoji {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

.load {
    &-emoji {
        @include bg-image(url('/assets/img/emoji-loading2.webp'), contain);
        position: absolute;
        left: 50%;
        bottom: 50px;
        height: fluid(toRem(200), toRem(250));
        width: 100%;
        z-index: $z-load-emoji;
    }

    &-text {
        @extend %font-en;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: fluid(toRem(18), toRem(20));
        color: $color-magenta;
        z-index: $z-load-emoji;
        font-weight: 500;
    }

    &-bar {
        position: fixed;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 4px;
        background-color: rgba($color-magenta, 0.2);
        border-radius: 2px;
        z-index: $z-load-emoji;
        overflow: hidden;

        .gauge {
            height: 100%;
            background-color: $color-magenta;
            border-radius: 2px;
            width: var(--progress-width, 0%);
            min-width: 0;
        }
    }
}

.emoji-sm {
    position: relative;

    &.show-top::before {
        content: "Go to Top!";
        display: block;
        position: absolute;
        left: 50%;
        top: -15px;
        transform: translateX(-50%);
        font-size: fluid(toRem(12), toRem(14));
        color: $color-magenta;
        white-space: nowrap;
        text-transform: capitalize;
    }

    &:hover:after {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 0;
        width: fluid(toRem(50), toRem(60));
        height: fluid(toRem(50), toRem(60));
        background: url(/assets/img/memojit.png) no-repeat;
        background-size: contain;
        animation: navi-emoji 1s infinite;
        z-index: -1;
    }

    @keyframes navi-emoji {
        0% {
            transform: translateY(10px) translateX(-50%);
        }

        50% {
            transform: translateY(-20px) translateX(-50%);
        }

        100% {
            transform: translateY(10px) translateX(-50%);
        }
    }
}

.content-section {
    @include section-base($bg-primary);

    .inner {
        position: relative;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        padding:
            fluid(toRem(150), toRem(200)) fluid(toRem(15), toRem(30)) fluid(toRem(80), toRem(150));

        h5 {
            font-size: fluid(toRem(50), toRem(65));
            margin-bottom: fluid(toRem(30), toRem(50));
            display: inline-block;
            color: $color-magenta;
            text-transform: capitalize;
            font-family: "lores-9-narrow", sans-serif;

            &::after {
                content: "";
                display: block;
                width: 80%;
                height: 12px;
                margin: 0 auto;
                background-image: $wave-svg-blue;
                background-repeat: repeat-x;
                background-size: contain;
            }
        }
    }

    &:last-of-type {
        .inner {
            padding-block: fluid(toRem(80), toRem(150)) fluid(toRem(120), toRem(200));
        }
    }
}

// ========================================
// Home Hero Section
// ========================================

.home-main {
    @include section-fullheight($bg-primary);
    display: flex;
    position: relative;
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    .container {
        max-width: none;
        padding-bottom: 0;
    }

    .move_wave_bg {
        position: relative;
        width: 100%;
        height: 100%;
        padding-bottom: 50px;
        overflow: hidden;

        @include bg-image($wave-bg-svg,
            100px 20px,
            0 0,
            repeat);

        animation: shift 32s linear infinite;
    }

    .home-content {
        position: relative;
        height: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -50px;
    }

    .emoji-home {
        &.marquee {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            overflow: visible;
            box-sizing: border-box;
            z-index: $z-base;
            width: fluid(150px, 300px);
            height: fluid(150px, 350px);
            background: url(/assets/img/memoji1.webp) no-repeat center center;
            background-size: contain;

            &.boo,
            &.classes {
                background: url(/assets/img/memoji2.webp) no-repeat center center;
                background-size: contain;
            }

            &.hey,
            &.and {
                background: url(/assets/img/memojit.webp) no-repeat center center;
                background-size: contain;
            }

            &.dude,
            &.junk {
                background: url(/assets/img/memojir.webp) no-repeat center center;
                background-size: contain;
            }
        }
    }

    .arrow-link-down {
        display: block;
        font-size: toRem(50);
        font-family: $font-family-en;
        text-align: center;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        line-height: 1;
        color: $color-magenta;
        z-index: $z-base;

        span {
            display: inline-block;
            transform: rotate(90deg);
            animation-name: floating-arrow;
            animation-duration: 0.5s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-out;
        }

        &:after {
            content: "Continue?";
            display: inline-block;
            position: absolute;
            left: 50%;
            bottom: 60px;
            font-size: toRem(25);
            font-weight: 900;
            font-family: $font-family-en;
            letter-spacing: 0.05em;
            transform: translateX(-50%);
            animation: 700ms linear infinite continue;
            animation-fill-mode: backwards;

            @include mobile-small {
                bottom: 60px;
                font-size: toRem(20);
            }
        }
    }

    .emoji-home {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .emoji-text {
        strong {
            &.about-headline {
                display: block;
                width: 100%;
                padding: 20px;
                color: $color-magenta;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #aa00ff;
                font-size: fluid(50px, toRem(150));
                text-align: center;
                text-transform: capitalize;
                white-space: nowrap;
                line-height: 1;
                outline: none !important;
                transform: rotate(2deg) scale(1);
            }

            span {
                display: inline-block;
                transform: translateY(200px);
                opacity: 0;
            }

        }
    }
}

.about-headline.yo {
    @include mobile-small {
        word-break: break-word;
        white-space: normal !important;
        line-height: 1.5 !important;
        padding: 0 !important;
    }

    &.boo {
        font-family: "comic sans", "comic sans ms";

    }

    &.hey {
        font-family: "rosewood-std", Didot, Georgia, "Times New Roman";
        -webkit-text-stroke-width: 1px;
        font-weight: 400;
    }

    &.dude {
        font-family: "Brush Script MT", cursive;
        -webkit-text-stroke-width: 0px;
        text-shadow: 1px 1px #aa00ff, -1px -1px #aa00ff;
    }

    &.classes {
        font-family: "Courier New", monospace;
    }

    &.and {
        font-family: "Arial Rounded MfillT Bold", "Arial";
    }

    &.junk {
        font-family: "Papyrus";
        -webkit-text-stroke-width: 0px;
        text-shadow: 1px 1px #aa00ff, -1px -1px #aa00ff;
    }
}

.banner {
    position: absolute;
    width: 100vh;
    padding: 0;
    background-color: $bg-primary;
    font-size: toRem(16);
    font-weight: 700;
    text-transform: uppercase;
    overflow: hidden;
    $z-base: 3;

    &-right {
        top: 0;
        left: 100%;
        transform: rotate(90deg);
        transform-origin: top left;
    }

    &-left {
        bottom: 0;
        left: 0;
        transform: rotate(-90deg) translateY(100%);
        transform-origin: left bottom;
    }

    &-bottom-marquee {
        width: 100%;
        bottom: 0;
        left: 0;
        transform: rotate(180deg);
    }

    &_inner {
        width: 100%;
        white-space: nowrap;
        margin-bottom: 0;
        margin-top: 0;
    }

    &-text {
        @extend %font-en;
        display: inline-block;
        margin-right: 20px;
        line-height: 35px;
        color: $color-magenta;

        &-bottom {
            display: inline-block;
            transform: rotate(180deg);
        }
    }

    &:hover .banner-text {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: inherit;
        -webkit-text-fill-color: rgba(0, 0, 0, 0);
    }
}

// ========================================
// About Section
// ========================================

#about {
    @extend .content-section;

    .text--about-inner {
        margin-top: fluid(toRem(20), toRem(80));
        > *{
            margin-top: fluid(toRem(10), toRem(20));
        }
    }

    .about-image-wrap {
        margin-left: -30px;
        margin-right: -30px;
    }

    .about-image {
        width: 100%;
        height: 100%;
        background-image: url('/assets/img/img-about.png');
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        aspect-ratio: 739 / 894;

        @include tablet-small {
            height: 780px;
        }
    }
}

// ========================================
// Works Section
// ========================================

#works {
    @extend .content-section;
    font-family: $font-family-base;

    .work-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 fluid(toRem(50), toRem(90));
        max-width: 1200px;
        margin: fluid(toRem(50), toRem(150)) auto 0;
        @include mobile-medium {
            grid-template-columns: 1fr;
            gap: toRem(50);
        }
    }

    .work-item {
        position: relative;
        width: fluid(100%, toRem(500));
        cursor: pointer;
        opacity: 0;
        transition: transform 0.3s ease;
        &:hover {
            .work-image img {
                transform: scale(1.05);
            }
        }

        &:nth-child(even) {
            margin-top: fluid(toRem(120), toRem(250));
        }

        @include mobile-medium {
            width: 100%;

            &:nth-child(even) {
                margin-top: 0;
            }
        }


    }

    .work-image {
        width: 100%;
        aspect-ratio: 38 / 26;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
        background: #ffffff;
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
        transition: all 0.1s ease-in;
        @include filter-sepia;
        &:hover {
            filter: none;
            -webkit-filter: none;
            opacity: 1;
            animation: crt-flicker 3ms infinite;
            @include mobile-medium {
                @include filter-sepia;
                animation: none;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: transform 0.5s ease;
        }
    }

    .work-content {
        text-align: left;
        padding-left: 0.5vw;

        strong {
            display: block;
            margin-top: fluid(toRem(20), toRem(35));
            font-size: fluid(toRem(20), toRem(28));
            font-weight: 500;
            transition: color 0.3s ease;
        }

        p {
            margin-top: fluid(toRem(10), toRem(15));
            font-size: fluid(toRem(16), toRem(20));
            font-weight: 400;
            color: $color-gray;
            line-height: 1.6;
            word-break: keep-all;
        }
    }

    .work-tags {
        display: inline-flex;
        margin-top: fluid(toRem(10), toRem(15));
        text-transform: capitalize;

        span {
            display: inline-flex;
            align-items: center;
            font-size: fluid(toRem(14), toRem(18));
            font-weight: 400;
            color: $color-gray;
            word-break: keep-all;

            &+span {
                &:before {
                    content: "";
                    display: inline-flex;
                    width: 1px;
                    height: 1rem;
                    background-color: $color-gray-light;
                    margin: 0 5px;
                }
            }
        }
    }
}

// ========================================
// Modal Styles
// ========================================

.detail-modal-wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(40, 37, 82, 0.9);
    visibility: hidden;
    opacity: 0;
    overflow: auto;
    scrollbar-width: none;
    transition: all 0.1s ease-in;
    z-index: $z-overlay;

    &::-webkit-scrollbar {
        display: none;
    }

    &.open {
        opacity: 1;
        visibility: visible;

        .detail-modal-inner {
            opacity: 1;
        }
    }

    .detail-modal-inner {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-inline: fluid(toRem(20), toRem(30));
        color: #fff;
        z-index: $z-modal;
        transition: all 0.5s ease-in-out;

        .modal-nav-wrap {
            position: fixed;
            width: 100%;
            left: 0;
            top: 0;
            height: fluid(toRem(50), toRem(60));
            background: rgba(40, 37, 82, 0.5);
            border-bottom: 1px solid $color-gray-light;
            z-index: 200;

            .modal-nav-inner {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .modal-btn-close {
                @extend %font-en;
                font-size: fluid(toRem(30), toRem(30));
                font-weight: 700;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #fff;
                -webkit-text-fill-color: rgba(0, 0, 0, 0);

                &:hover,
                &:focus-visible {
                    -webkit-text-fill-color: #fff;
                    color: #fff;
                }
            }
        }

        .modal-contents {
            display: flex;
            flex-direction: column;
            padding-block: fluid(toRem(100), toRem(150)) fluid(toRem(50), toRem(100));
            max-width: 1000px;
            width: 100%;

            .modal-inner__top {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                text-align: left;
                text-transform: capitalize;

                @include mobile-large {
                    flex-direction: column;
                    align-items: center;
                    gap: toRem(18);
                    text-align: center;
                }

                .works-logo {
                    width: fluid(toRem(120), toRem(150));
                    margin-right: fluid(toRem(25), toRem(30));
                    border-radius: 10px;
                    overflow: hidden;

                    img {
                        display: block;
                        width: inherit;
                    }

                    @include mobile-large {
                        margin-right: 0;
                    }
                }

                .modal-title {
                    margin-top: fluid(toRem(5), toRem(10));

                    h2 {
                        font-size: fluid(toRem(30), toRem(38));
                        font-weight: 500;
                        line-height: 1.4;
                    }
                }

                .modal-subtext {
                    margin-top: fluid(toRem(10), toRem(15));

                    * {
                        margin-top: fluid(toRem(5), toRem(10));
                    }

                    .period {
                        display: block;
                        font-size: fluid(toRem(14), toRem(18));
                        color: $color-gray-light;
                    }

                    .detail-text {
                        font-size: fluid(toRem(16), toRem(18));
                        font-weight: 400;
                        line-height: 1.4;
                        span{
                            display: block;
                            margin-top: toRem(2);
                        }
                    }

                    .skill {
                        display: flex;
                        gap: fluid(toRem(5), toRem(10));

                        &-text {
                            font-size: fluid(toRem(16), toRem(18));
                            font-weight: 400;
                        }

                        &-percentage {
                            font-size: fluid(toRem(16), toRem(18));
                            font-weight: 500;
                            color: #ffd179;
                            margin-left: fluid(toRem(5), toRem(10));
                        }
                    }

                    &-links {
                        a {
                            font-size: fluid(toRem(12), toRem(18));
                            font-weight: 400;
                            color: #fff;

                        }
                    }
                }
            }

            .modal-inner-content {
                margin-top: fluid(toRem(50), toRem(100));

                h5 {
                    font-size: fluid(toRem(22), toRem(30));
                    font-weight: 500;
                    border-bottom: 1px solid $color-gray-light;
                    padding-bottom: fluid(toRem(10), toRem(15));
                    margin-bottom: fluid(toRem(10), toRem(15));
                }

                p {
                    font-size: fluid(toRem(16), toRem(18));
                    font-weight: 400;
                    line-height: 1.4;
                    word-break: keep-all;
                    text-transform: capitalize;

                    &+p {
                        margin-top: fluid(toRem(5), toRem(10));
                    }

                    >span {
                        color: #ffd179;
                    }
                }

                >div+div {
                    margin-top: fluid(toRem(50), toRem(80));
                }

                .teck-list {
                    ul {
                        display: flex;
                        gap: fluid(toRem(5), toRem(10));
                        flex-wrap: wrap;

                        li {
                            display: flex;
                            align-items: center;
                            gap: fluid(toRem(5), toRem(10));
                            padding: toRem(5);
                            border-radius: toRem(5);
                            background-color: $color-gray-dark;
                            font-size: fluid(toRem(16), toRem(18));
                            font-weight: 400;
                            line-height: 1.4;

                            img {
                                width: fluid(toRem(20), toRem(25));
                                height: fluid(toRem(20), toRem(25));
                                object-fit: contain;
                            }
                        }
                    }
                }
            }
        }

    }
}

// ========================================
// Footer Section
// ========================================

#bottomLinks {
    @include section-base($bg-primary);

    .bubble-text {
        position: absolute;
        top: fluid(toRem(-60), toRem(-80));
        left: 50%;
        transform: translateX(-50%);
        padding: fluid(toRem(12), toRem(15));
        border-radius: 8px;
        background: $bg-pink-light;
        transition: top 2s;
        animation: upDown 1s infinite;
        font-size: fluid(toRem(16), toRem(18));
        color: $color-gray-dark;
        white-space: nowrap;

        &::after {
            content: " ";
            position: absolute;
            top: 95%;
            left: 50%;
            width: 0;
            height: 0;
            border: solid transparent;
            border-width: 15px;
            border-color: rgba(75, 0, 221, 0);
            border-top-color: $bg-pink-light;
            pointer-events: none;
            transform: translateX(-50%);
            top: 90%;
        }
    }

    .info {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        border-top: 1px solid $color-gray-light;

        &-inner {
            display: flex;
            gap: 0 26px;
        }
    }
}

// ========================================
// Marquee Animations
// ========================================

.about-marquee,
.marquee {
    pointer-events: auto;
    user-select: none;
}

@keyframes marquee-scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes upDown {
    0% {
        transform: translateX(-50%) translateY(10px);
    }

    50% {
        transform: translateX(-50%) translateY(-20px);
    }

    100% {
        transform: translateX(-50%) translateY(10px);
    }
}